.out-border {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 0;
}
.login-content {
    background-color: #fff;
    padding: 25px;
    height: fit-content;
    width: 40%;
    font-size: 18px;
}
.admin-login-form {
    height: 100vh;
}
.login-panel-item {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.item-label {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.item-input {
    width: 80%;
}
.item-input input {
    width: 98%;
    font-size: 18px;
}
.admin-login {
    width: 100px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #fff;
}