.section{
    margin: 50px;
}
.section label {
    display: block;
    width: 500px;
}
.section input {
    display: block;
    width: 500px;
    margin-bottom: 15px;
}
.section textarea {
    display: block;
    width: 500px;
}
.addButton {
    display: inline-block;
}
.db-data, .db-data td {
    border: 1px solid;
}
.db-data td {
    padding: 7px;
}
#db-data-id, #db-data-active, #db-data-price {
    width: 30px
}
#db-data-city, #db-data-name, db-data-author {
    width: 130px
}
#db-data-description, #db-data-content {
    width: 400px
}
#db-data-link {
    width: 200px
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.gdpr-content {
    left: 7.5%;
    position: sticky;
    width: 85%;
    background-color: #fff;
    padding: 25px 50px;
}
.out-border {
    background-color: rgb(0, 156, 191, 0.3);
    height: 100%;
    padding: 50px 0;
}
.watermark {
    width: 600px;
    position: fixed;
    right: -150px;
    top: -150px;
    z-index: -1;
}

.container-fluid.header a {
    font-size: 25px;
    font-weight: bold;0
}
.header_buttons {
    margin-left: 7%;
}