body {
    height: 100%;
    padding: 0;
    margin: 0;
}
.no-padding {
    padding-left: 0;
    padding-right: 0;
}
.container-fluid {
    padding: 0;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
/*Start of Header*/

.header {
    background:#F0F0F0;
    height: 90px;
    vertical-align: middle;
    line-height: 75px;
    text-align: center;
    opacity: 0.7;
    width: 100%;
}
.header img {
    line-height: 85px;
    height: 70px;
    opacity: 1;
    margin-top: 10px;
}
.header .logo {
    float: left;
    opacity: 1;
}
.header .header_buttons {
    float: right;
    font-size: 16px;
    margin-right: 30px;
    margin-top: 5px;
    opacity: 1;
}
.header .header_buttons a {
    padding: 5px 25px;
    opacity: 1;
    color: #000000;
    text-decoration: none;
}
.header .header_buttons img {
    height: 25px;
    opacity: 1;
    margin-top: 0;
}

.burger {
	display: inline-block;
    border: 0;
	background: none;
	outline: 0;
	padding: 0;
	cursor: pointer;
	border-bottom: 4px solid currentColor;
	width: 28px;
	transition: border-bottom 1s ease-in-out;
	-webkit-transition: border-bottom 1s ease-in-out;
    margin: 35px 75px;
    float: right;
}
.burger::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.burger:before {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger:after {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger-check {
  display: none;
}
.burger-check:checked {
  border-bottom: $burger--thickness solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}
burger-check:before {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
 }
burger-check:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px);
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.navigation {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  position: absolute;
  right: 0px;
  top: 70px;
  background: #F0F0F0;
  opacity: 1;
  margin: 20px;
}
.burger-check:checked ~ .navigation {
  max-height: 500px;
  transition: max-height 0.5s ease-in-out;
}
ul {
  margin: 0;
  padding: 0 20px;
}

li a {
    text-decoration: none;
    color: #000000;
}
li a:hover {
    text-decoration: none;
    color: #000000;
}
.gdpr-content {
    left: 7.5%;
    position: sticky;
    width: 85%;
    background-color: #fff;
    padding: 25px 50px;
}
.out-border {
    background-color: rgb(0, 156, 191, 0.3);
    height: 100%;
    padding: 50px 0;
}
.watermark {
    width: 600px;
    position: fixed;
    right: -150px;
    top: -150px;
    z-index: -1;
}
.desktop-only {
    display: block;
}
.mobile-only {
    display: none;
}
@media screen and (max-width: 1000px){
    .desktop-only{
        display: none;
    }
    .mobile-only {
        display: block;
    }
}
span, a, p, li, label, h1, h2, h3, h4, h5, button {
    font-family: Lato;
}
.centered-text {
    display: flex;
    justify-content: center;
}
.underlined {
    text-decoration: underline;
}
.boxed-text {
    border: 2px solid black;
    padding: 10px;
    margin: 15px 0;
}

.table-row:after {
  content: "";
  display: table;
  clear: both;
}

table {
  width: 100%;
}
.blue-font {
  color: blue;
}
.full-border {
  border: 1px solid black;
  text-align: center;
}
.tab{
  margin-left: 10px;
}