body {
    height: 100%;
    padding: 0;
    margin: 0;
}
.no-padding {
    padding-left: 0;
    padding-right: 0;
}
.container-fluid {
    padding: 0;
}
.row {
    margin-right: 0;
    margin-left: 0;
}

/*Cookie Consent Begin*/
#cookieConsent {
    background-color: rgba(20,20,20,0.8);
    min-height: 26px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: fixed;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}
#cookieConsent a {
    color: #4B8EE7;
    text-decoration: none;
}
#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#closeCookieConsent:hover {
    color: #FFF;
}
#cookieConsent a.cookieConsentOK {
    background-color: #F1D600;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    margin: 0 60px 0 10px;
}
#cookieConsent a.cookieConsentOK:hover {
    background-color: #E0C91F;
}
/*Cookie Consent End*/
/*Start of Header*/
.header {
    background:#F0F0F0;
    vertical-align: middle;
    line-height: 75px;
    text-align: center;
    opacity: 0.7;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.header img {
    line-height: 85px;
    height: 70px;
    opacity: 1;
    margin-top: 10px;
}
.header .logo {
    float: left;
    opacity: 1;
    margin-bottom: 10px;
}
.header .header_buttons {
    float: right;
    font-size: 16px;
    margin-right: 30px;
    margin-top: 5px;
    opacity: 1;
}
.header .header_buttons a {
    padding: 5px 25px;
    opacity: 1;
    color: #000000;
    text-decoration: none;
}
.header .header_buttons img {
    height: 25px;
    opacity: 1;
    margin-top: 0;
}
.header .header_buttons .loja-online {
    font-weight: bold;
    font-size: 17px;
    font-color: #000000;
    border: 2px solid black;
    padding: 10px 20px;
    background-color: #f7b312;
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1.0;
        font-size: 19px
    }
    100% {
        opacity: 0.5;
    }
}

.burger {
	display: inline-block;
    border: 0;
	background: none;
	outline: 0;
	padding: 0;
	cursor: pointer;
	border-bottom: 4px solid currentColor;
	width: 28px;
	transition: border-bottom 1s ease-in-out;
	-webkit-transition: border-bottom 1s ease-in-out;
    margin: 35px 75px;
    float: right;
}
.burger::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.burger:before {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger:after {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger-check {
  display: none;
}
.burger-check:checked {
  border-bottom: $burger--thickness solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}
burger-check:before {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
 }
burger-check:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px);
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.navigation {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  position: absolute;
  right: 0px;
  top: 70px;
  background: #F0F0F0;
  opacity: 1;
  margin: 20px;
}
.burger-check:checked ~ .navigation {
  max-height: 500px;
  transition: max-height 0.5s ease-in-out;
}
ul {
  margin: 0;
  padding: 0 20px;
}
li {
  list-style: none;
  font-size: 25px;
}
li a {
    text-decoration: none;
    color: #000000;
}
li a:hover {
    text-decoration: none;
    color: #000000;
}

/*End of Header*/
.img-responsive {
    object-fit: cover;
    object-position: top;
}
#mainDestinations1, #worldMapDivider {
    height: 550px;
}
#mainDestinations2, #mainDestinations3 {
    height: 400px;
}
#featured_testemony {
    height: 300px;
}
#mainDestinations1 span {
    left: 50%;
}
#featured_testemony {
    padding-top: 60px;
}
#testemony-quote {
    font-size: 30px;
    font-weight: 900;
    margin-left: 20%;
    font-family: "Gill Sans", sans-serif;
}
#testemony-content {
    font-size: 20px;
    margin-left: 20%;
    display: block;
    width: 70%;
    text-align: center;
    word-wrap: break-word;
    font-family: Lato;
}
#testemony-author {
    font-size: 24px;
    font-weight: bold;
    margin-left: 65%;
}
#worldMapDivider span {
    top: 85%;
    left: 20%
}
.website-destinations a {
    text-decoration: none;
    color: #333;
}
.website-destinations hr {
    position: absolute;
    width: 10%;
    top: 32%;
    left: 17%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bolder;
    border: 2px solid #333;
    border-radius: 20px;
}
#line-escapadinhas {
    left: 10%;
}
#line-cruzeiros {
    left: 14.5%;
}
.mainPage1 img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.mainPage1 .image-title{
    position: absolute;
    top: 30%;
    left: 21%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bolder;
}
.mainPage1 .image-title.image-typewriter{
    left: 50%;
}

.mainImage {
    height: 100%;
    opacity: 0.4;
}
.mainImage:hover {
    opacity: 1;
}
.promo {
    height: 400px;
}
.promo img {
    opacity: 0.6;
}
.promo span{
    position: absolute;
    color: black;
}
.promo-country {
    left: 35%;
    top: 25%;
    font-size: 22px;
    font-weight: bolder;
}
.promo-desc {
    left: 20%;
    top: 40%;
    font-size: 20px;
    font-weight: bold;
}
.promo-desde {
    left: 10%;
    top: 80%;
    font-size: 22px;
    font-weight: bolder;
}
.promo-price {
    left: 10%;
    top: 85%;
    font-size: 22px;
    font-weight: bolder;
}
#featured_guides{
    margin: 0 30px 0 30px;
}
.guides-title{
    margin: 25px 0 10px 0;
}
.guides-title span {
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    line-height: 35px;
}
.card {
    padding: 15px;
    height: 300px;
}
.card span{
    position: absolute;
    color: black;
}
.card .guide-country {
    font-size: 18px;
    font-weight: bold;
    left: 7%;
    top: 7%;
}
.card .guide-city {
    font-size: 15px;
    font-weight: bold;
    left: 7%;
    top: 15%;
}
.grid-item-thumbnail-hold {
    height: 100%;
    position: relative;
}


/*Start of Footer*/
.newsletter-title {
    font-size: 25px;
    font-weight: bolder;
    margin-left: 15px;
}
.cat-title{
    margin-left: 50px;
    font-size: 25px;
    font-weight: bolder;
}
.accordion-toggle {
    font-size: 22px;
    font-weight: bolder;
    margin-left: 75px;
    color: black;
    text-decoration: none;
}
.accordion-body {
    font-size: 16px;
    margin-left: 75px;
}
.accordion-toggle {
    text-decoration: none;
}
.accordion-toggle:hover, .accordion-toggle:focus {
    color: #000000;
    text-decoration: none;
}
.newsletter-input {
    padding-right: 0;
}
.newsletter-btn {
    padding-left: 0;
}
#partner-logos {
    text-align: center;
    margin-top: 15px;
}
.fa-1x {
    font-size: 1.5rem;
}
.desktop-only {
    display: block;
}
.mobile-only {
    display: none;
}
@media screen and (max-width: 1000px){
    .desktop-only{
        display: none;
    }
    .mobile-only {
        display: block;
    }
}
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
  font-weight: bolder;
  left: 50%;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

span, a, p, li, label, h1, h2, h3, h4, h5, button {
    font-family: Lato;
}
.worldmap {
     object-fit: contain;
}

.container-fluid {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}
.section {
    position: relative;
    height: 100vh;

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}