body {
    height: 100%;
    padding: 0;
    margin: 0;
}
.no-padding {
    padding-left: 0;
    padding-right: 0;
}
.container-fluid {
    padding: 0;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
/*Start of Header*/

.header {
    background:#F0F0F0;
    vertical-align: middle;
    line-height: 75px;
    text-align: center;
    opacity: 0.7;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.header img {
    line-height: 85px;
    height: 70px;
    opacity: 1;
    margin-top: 10px;
}
.header .logo {
    float: left;
    opacity: 1;
    margin-bottom: 10px;
}
.header .header_buttons {
    float: right;
    font-size: 16px;
    margin-right: 30px;
    margin-top: 5px;
    opacity: 1;
}
.header .header_buttons a {
    padding: 5px 25px;
    opacity: 1;
    color: #000000;
    text-decoration: none;
}
.header .header_buttons img {
    height: 25px;
    opacity: 1;
    margin-top: 0;
}
.loja-online {
    font-weight: bold;
    font-size: 17px;
}

.burger {
	display: inline-block;
    border: 0;
	background: none;
	outline: 0;
	padding: 0;
	cursor: pointer;
	border-bottom: 4px solid currentColor;
	width: 28px;
	transition: border-bottom 1s ease-in-out;
	-webkit-transition: border-bottom 1s ease-in-out;
    margin: 35px 75px;
    float: right;
}
.burger::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.burger:before {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger:after {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger-check {
  display: none;
}
.burger-check:checked {
  border-bottom: $burger--thickness solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}
burger-check:before {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
 }
burger-check:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px);
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.navigation {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  position: absolute;
  right: 0px;
  top: 70px;
  background: #F0F0F0;
  opacity: 1;
  margin: 20px;
}
.burger-check:checked ~ .navigation {
  max-height: 500px;
  transition: max-height 0.5s ease-in-out;
}
ul {
  margin: 0;
  padding: 0 20px;
}
li {
  list-style: none;
  font-size: 25px;
}
li a {
    text-decoration: none;
    color: #000000;
}
li a:hover {
    text-decoration: none;
    color: #000000;
}

/*End of Header*/
.img-responsive {
    object-fit: cover;
    object-position: top;
}
#aboutUs{
    position: relative;
}
#aboutUs, #aboutUs-text{
    height: 650px;
}
#aboutUs .img-responsive {
    opacity: 0.6;
}
.mainPage1 img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.aboutUs-icons {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}
.aboutUs-data-values {
    display: block;
    font-weight: 900;
    font-size: 20px;
}
.mainPage1 .image-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bolder;
}
.about-us-text p {
    position: absolute;
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    padding: 30px 170px 0 170px;
}
#l1 {
    top: 0;
}
#p1 {
    top: 10%;
}
#p2 {
    top: 30%
}
#p3 {
    top: 50%;
}
#p4 {
    top: 75%;
    left: 18%;
}
#l2 {
    top: 85%;
}
#aboutUs-text p{
    font-size: 20px;
}
.about-us-text hr {
    position: absolute;
    width: 10%;
    margin-top: 50px;
    margin-left: 45%;
    border: 3px solid #000000;
    border-radius: 20px;
}
.cards {
    margin: 10px;
}

.top-cards {
    height: 390px;
}
@media only screen and (min-width: 768px) {
    .top-cards {
        height: 500px;
    }
    .mainPage1 ul {
        text-align: center;
    }
    .card-body.no-text {
        justify-content: flex-end;
    }
}
.bottom-cards {
    display: flex;
    justify-content: space-evenly;
    padding: 0 30px;
}
.bot-card {
    height: 170px;
}
.bot-card.no-text{
    display: flex;
    align-self: center;
    padding: 20px;
    background-color: #f7f2eb;
    margin: 20px;
}
.bot-card.no-text h5 {
    margin-top: 0;
}
.bot-card img {
    max-height: 100px;
    max-width: 100px;
    margin: 0 5%;
    display: inline-block;
    position: relative;
    top: 10px;
}
.bot-card h5 {
    margin-top: 50px;
    display: inline-block;
}
.card .row {
    margin: inherit;;
}
.sobre-nos-card {
    margin: 0 auto;
    width: 85%;
}
.mainPage1 .card {
    padding: 20px;
    background-color: #f7f2eb;
    margin: 20px;
}
.mainPage1 ul {
    padding-left: 0;
}
.card-img-top {
    max-height: 100px;
    max-width: 100px;
    text-align: center;
    margin: 5px 25%;
}
.card-title {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    margin-top: 10px;
}
.card-body.no-text{
    display: flex;
    align-self: center;
    height: 100%;
}
.card-body.no-text h5{
    align-self: center;
}
.card-body li {
    font-size: 16px;
}

/*Start of Footer*/
.newsletter-title {
    font-size: 25px;
    font-weight: bolder;
    margin-left: 15px;
}
.cat-title{
    margin-left: 50px;
    font-size: 25px;
    font-weight: bolder;
}
.accordion-toggle {
    font-size: 22px;
    font-weight: bolder;
    margin-left: 75px;
    color: black;
    text-decoration: none;
}
.accordion-body {
    font-size: 16px;
    margin-left: 75px;
}
.accordion-toggle {
    text-decoration: none;
}
.accordion-toggle:hover, .accordion-toggle:focus {
    color: #000000;
    text-decoration: none;
}
.newsletter-input {
    padding-right: 0;
}
.newsletter-btn {
    padding-left: 0;
}
#partner-logos {
    text-align: center;
    margin-top: 15px;
}
.fa-1x {
    font-size: 1.5rem;
}
.desktop-only {
    display: block;
}
.mobile-only {
    display: none;
}
@media screen and (max-width: 1000px){
    .desktop-only{
        display: none;
    }
    .mobile-only {
        display: block;
    }
}
span, a, p, li, label, h1, h2, h3, h4, h5, button {
    font-family: Lato;
}
.worldmap {
    object-fit: contain;
}
