body {
    height: 100%;
    padding: 0;
    margin: 0;
}
.no-padding {
    padding-left: 0;
    padding-right: 0;
}
.container-fluid {
    padding: 0;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
/*Start of Header*/

.header {
    background:#F0F0F0;
    height: 90px;
    vertical-align: middle;
    line-height: 75px;
    text-align: center;
    opacity: 0.7;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.header img {
    line-height: 85px;
    height: 70px;
    opacity: 1;
    margin-top: 10px;
}
.header .logo {
    float: left;
    opacity: 1;
}
.header .header_buttons {
    float: right;
    font-size: 16px;
    margin-right: 30px;
    margin-top: 5px;
    opacity: 1;
}
.header .header_buttons a {
    padding: 5px 25px;
    opacity: 1;
    color: #000000;
    text-decoration: none;
}
.header .header_buttons img {
    height: 25px;
    opacity: 1;
    margin-top: 0;
}

.burger {
	display: inline-block;
    border: 0;
	background: none;
	outline: 0;
	padding: 0;
	cursor: pointer;
	border-bottom: 4px solid currentColor;
	width: 28px;
	transition: border-bottom 1s ease-in-out;
	-webkit-transition: border-bottom 1s ease-in-out;
    margin: 35px 75px;
    float: right;
}
.burger::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.burger:before {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger:after {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger-check {
  display: none;
}
.burger-check:checked {
  border-bottom: $burger--thickness solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}
burger-check:before {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
 }
burger-check:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px);
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.navigation {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  position: absolute;
  right: 0px;
  top: 70px;
  background: #F0F0F0;
  opacity: 1;
  margin: 20px;
}
.burger-check:checked ~ .navigation {
  max-height: 500px;
  transition: max-height 0.5s ease-in-out;
}
ul {
  margin: 0;
  padding: 0 20px;
}
li {
  list-style: none;
  font-size: 25px;
}
li a {
    text-decoration: none;
    color: #000000;
}
li a:hover {
    text-decoration: none;
    color: #000000;
}

/*End of Header*/
.img-responsive {
    object-fit: cover;
    object-position: top;
}
#mainGuide1, #mainGuide2 {
    height: 550px;
}
.guideImage {
    height: 100%;
    position: relative;
}
.guideImage span {
    color: black;
}
.guideImage img{
    opacity: 0.6;
}
#halfGuide1, #halfGuide2,
#halfGuide3, #halfGuide4 {
    height: 400px;
}
.mainPage1 img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.mainPage1 .travelGuide-main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bolder;
}
.mainPage1 .travelGuide-main-message {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
.promo-card-container{
    display: flex;
    flex-wrap: wrap;
}
.promo-card {
    width: 25%;
    height: 300px;
}
.travelGuide-country {
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    left: 7%;
    top: 5%;
}
.travelGuide-city {
    position: absolute;
    font-size: 22px;
    left: 7%;
    top: 14%;
}
.travelguides-container {
    margin: 10px 10%;
}
.travelguides-filter-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.travelguides-filter-btn button{
    border:1px solid #2aabd2;
    color: #2aabd2;
    background-color: #ffffff;
    width: 150px;
    height: 30px;
    margin: 10px 0;
}
.travelguides-filter-btn button.selected {
    border:1px solid #2aabd2;
    color: #ffffff;
    background-color: #2aabd2;
    width: 150px;
    height: 30px;
    margin: 10px 0;
}
.filter-button {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.filter-button button {
    width: 20%;
    height: 35px;
}
#world-map {
    height: 400px;
}
/*Start of Footer*/
.newsletter-title {
    font-size: 25px;
    font-weight: bolder;
    margin-left: 15px;
}
.cat-title{
    margin:25px 50px 10px 0;
    font-size: 25px;
    font-weight: bolder;
}
.cat-title hr {
    width: 5%;
    margin-top: 0;
    margin-left: 0.5%;
    border: 2px solid #000000;
    border-radius: 20px;
}

.accordion-toggle {
    font-size: 22px;
    font-weight: bolder;
    margin-left: 75px;
    color: black;
    text-decoration: none;
}
.accordion-body {
    font-size: 16px;
    margin-left: 75px;
}
.accordion-toggle {
    text-decoration: none;
}
.accordion-toggle:hover, .accordion-toggle:focus {
    color: #000000;
    text-decoration: none;
}
.newsletter-input {
    padding-right: 0;
}
.newsletter-btn {
    padding-left: 0;
}
#partner-logos {
    text-align: center;
    margin-top: 15px;
}
.desktop-only {
    display: block;
}
.mobile-only {
    display: none;
}
@media screen and (max-width: 1000px){
    .desktop-only{
        display: none;
    }
    .mobile-only {
        display: block;
    }
}
span, a, p, li, label, h1, h2, h3, h4, h5, button {
    font-family: Lato;
}
.worldmap {
    object-fit: contain;
}