<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>admin</title>
    <link rel="stylesheet"      href="/css/bootstrap.min.css"                                               type="text/css"/>
    <link rel="stylesheet"      href="/css/adminPannel.css"                                                    type="text/css"/>

</head>
<body>
    <div>
        <a href="/adminPannel">
            <button type="button" class="btn btn-primary">Voltar</button>
        </a>
    </div>
    <form method="post" enctype="multipart/form-data">
        <div class="section testemunhos">
            <div class="title">
                <h2>Criticas</h2>
            </div>
            <div>
                <label for="autor">Autor</label>
                <input id="autor" name="autor" type="text" class="form-control"/>
            </div>
            <div>
                <label for="testemunho">Criticas</label>
                <textarea rows="4" id="testemunho" name="testemunho" type="text" class="form-control contactUs-input"></textarea>
            </div>
        </div>
        <hr/>
        <div>
            <button type="submit" class="btn btn-primary">Submeter</button>
        </div>
        <table class="db-data">
            <thead>
            <td id="db-data-id">id</td>
            <td id="db-data-author">author</td>
            <td id="db-data-content">content</td>
            <td id="db-data-active">activo</td>
            </thead>
            <th:block th:each="item : ${testemony}">
                <tr>
                    <td th:text="${item.id}" />
                    <td th:text="${item.author}" />
                    <td th:text="${item.content}" />
                    <td><input type="checkbox" name="${item.id}" th:checked="${item.isactive}"/></td>
                </tr>
            </th:block>
        </table>
    </form>
<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"              type="text/javascript"></script>
<!-- Bootstrap JS CDN -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"                 type="text/javascript"></script>
</body>
</html>