<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>admin</title>
    <link rel="stylesheet"      href="/css/bootstrap.min.css"                                               type="text/css"/>
    <link rel="stylesheet"      href="/css/adminPannel.css"                                                    type="text/css"/>

</head>
<body>
    <div>
        <a href="/adminPannel">
            <button type="button" class="btn btn-primary">Voltar</button>
        </a>
    </div>

    <form method="post" enctype="multipart/form-data">
        <div class="section testemunhos">
            <div class="title">
                <h2>Ponto de Interesse</h2>
            </div>
            <div>
                <label for="cidade">Cidade</label>
                <input id="cidade" name="cidade" type="text" class="form-control"/>
            </div>
            <div>
                <label for="nome">Nome</label>
                <input id="nome" name="nome" type="text" class="form-control"/>
            </div>
            <div>
                <label for="descricao">Descricao</label>
                <textarea rows="4" id="descricao" name="descricao" type="text" class="form-control contactUs-input"></textarea>
            </div>
            <div>
                <label for="imagemUpload">Imagem</label>
                <input id="imagemUpload" type="file" name="pic" accept="image/*" onchange="readURL(this);"/>
            </div>
        </div>
        <hr/>
        <div>
            <button type="submit" class="btn btn-primary submit-db">Submeter</button>
        </div>
        <table class="db-data">
            <thead>
            <td id="db-data-id">id</td>
            <td id="db-data-city">city</td>
            <td id="db-data-name">nome</td>
            <td id="db-data-description">descricao</td>
            <td id="db-data-active">activo</td>
            </thead>
            <th:block th:each="item : ${specificGuideLocation}">
                <tr>
                    <td th:text="${item.id}" />
                    <td th:text="${item.city}" />
                    <td th:text="${item.nome}" />
                    <td th:text="${item.descricao}" />
                    <td><input type="checkbox" name="${item.id}" th:checked="${item.isactive}"/></td>
                </tr>
            </th:block>
        </table>
    </form>
<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"              type="text/javascript"></script>
<!-- Bootstrap JS CDN -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"                 type="text/javascript"></script>
</body>
</html>