<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>admin</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/adminPannel.css" type="text/css"/>

</head>
<body>
<div class="container-fluid">
    <div class="header">
        <div class="col-lg-12">
            <div class="header_buttons">
                <a href="/adminAddSpecificGuide">Guias</a>
                <a href="/adminAddSpecificGuideLocation">Locais</a>
                <a href="/adminAddTestemony">Testemunho</a>
                <a href="/adminAddDestination">Destino</a>
            </div>
        </div>
    </div>
    <div class="out-border">
        <img class="watermark" th:src="${basicLogo}"/>
        <div class="gdpr-content">
            <div>
                <a href="/adminPannel">
                    <button type="button" class="btn btn-primary">Voltar</button>
                </a>
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="section testemunhos">
                    <div class="title">
                        <h2>Promocoes</h2>
                    </div>
                    <div>
                        <label for="nome">Cidade</label>
                        <input id="nome" name="nome" type="text" class="form-control"/>
                    </div>
                    <div>
                        <label for="descricao">Descricao de Promocao</label>
                        <input id="descricao" name="descricao" type="text" class="form-control"/>
                    </div>
                    <div>
                        <label for="link">Link</label>
                        <input id="link" name="link" type="text" class="form-control"/>
                    </div>
                    <div>
                        <label for="preco">Preco</label>
                        <input id="preco" name="preco" type="text" class="form-control"/>
                    </div>
                    <div>
                        <label for="guia-imagem">Imagem</label>
                        <input id="guia-imagem" type="file" name="pic" accept="image/*"/>
                    </div>
                </div>
                <hr/>
                <div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
                <table class="db-data">
                    <thead>
                    <td id="db-data-id">id</td>
                    <td id="db-data-name">author</td>
                    <td id="db-data-description">descricao</td>
                    <td id="db-data-price">preco</td>
                    <td id="db-data-link">link</td>
                    <td id="db-data-active">activo</td>
                    </thead>
                    <th:block th:each="item : ${destination}">
                        <tr>
                            <td th:text="${item.id}"/>
                            <td th:text="${item.nome}"/>
                            <td th:text="${item.descricao}"/>
                            <td th:text="${item.preco}"/>
                            <td th:text="${item.link}"/>
                            <td><input type="checkbox" name="${item.id}" th:checked="${item.isactive}"/></td>
                        </tr>
                    </th:block>
                </table>
            </form>
        </div>
    </div>
</div>
<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        type="text/javascript"></script>
<!-- Bootstrap JS CDN -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>