<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>admin</title>
    <link rel="stylesheet"      href="/css/bootstrap.min.css"                                               type="text/css"/>
    <link rel="stylesheet"      href="/css/adminPannel.css"                                                    type="text/css"/>

</head>
<body>
    <div>
        <a href="/adminPannel">
            <button type="button" class="btn btn-primary">Voltar</button>
        </a>
    </div>
    <form method="post" enctype="multipart/form-data">
        <div class="section testemunhos">
            <div class="title">
                <h2>Guia</h2>
            </div>
            <div>
                <label for="pais">Pais</label>
                <input id="pais" name="pais" type="text" class="form-control"/>
            </div>
            <div>
                <label for="nome">Cidade</label>
                <input id="nome" name="nome" type="text" class="form-control"/>
            </div>
            <div>
                <label for="descricao">Descricao</label>
                <textarea rows="4" id="descricao" name="descricao" class="form-control contactUs-input"></textarea>
            </div>
            <div>
                <label for="moeda">Nome de Moeda</label>
                <input id="moeda" name="moeda" type="text" class="form-control"/>
            </div>
            <div>
                <label for="moedasimbolo">Simbolo da Moeda</label>
                <input id="moedasimbolo" name="moedasimbolo" type="text" class="form-control"/>
            </div>
            <div>
                <label for="tempo">Tempo</label>
                <input id="tempo" name="tempo" type="text" class="form-control"/>
            </div>
            <div>
                <label for="horas">Fuso Horario</label>
                <input id="horas" name="horas" type="text" class="form-control"/>
            </div>
            <div>
                <label for="quandoir">Melhor Estacao Para Visitar</label>
                <input id="quandoir" name="quandoir" type="text" class="form-control"/>
            </div>
            <div>
                <label for="link">Link</label>
                <input id="link" name="link" type="text" class="form-control"/>
            </div>
            <label for="quandoir">Melhor Estacao Para Visitar</label>
            <div>
                <label for="guia-imagem">Imagem</label>
                <input id="guia-imagem" type="file" name="pic" accept="image/*"/>
            </div>
            <div>
                <label for="poster-imagem">Imagem de Capa de anuncio</label>
                <input id="poster-imagem" type="file" name="poster-pic" accept="image/*"/>
            </div>
        </div>
        <hr/>
        <div>
            <button type="submit" class="btn btn-primary">Submeter</button>
        </div>
        <table class="db-data">
            <thead>
            <td id="db-data-id">id</td>
            <td id="db-data-name">nome</td>
            <td id="db-data-description">descricao</td>
            <td id="db-data-link">link</td>
            <td id="db-data-active">activo</td>
            </thead>
            <th:block th:each="item : ${specificGuide}">
                <tr>
                    <td th:text="${item.id}" />
                    <td th:text="${item.nome}" />
                    <td th:text="${item.descricao}" />
                    <td th:text="${item.link}" />
                    <td><input type="checkbox" name="${item.id}" th:checked="${item.isactive}"/></td>
                </tr>
            </th:block>
        </table>
    </form>
<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"              type="text/javascript"></script>
<!-- Bootstrap JS CDN -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"                 type="text/javascript"></script>
</body>
</html>