<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Getting Started: Serving Web Content</title>

    <link rel="stylesheet" type="text/css" href="css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>

    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/sobreNos.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
          integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous"/>
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '486384455187909');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img th:height="1" th:width="1" th:src="${facebookPixelCode}"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>
<body>
<div class="container-fluid">
    <!-- HEADER -->
    <div class="row">
        <div class="header">
            <div class="col-md-3">
                <div class="logo">
                    <a href="/">
                        <img th:src="${awtLogo}"/>
                    </a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="header_buttons desktop-only">
                    <a class="loja-online" href="https://allthewaytravel.traveltool.pt/">Loja Online</a>
                    <a href="/sobrenos">Sobre Nós</a>
                    <a href="/guias">Guias</a>
                    <a href="/contactos">Contactos</a>
                    <a href="https://www.facebook.com/allthewaytravel/"><img th:src="${facebookLogo}"/></a>
                </div>
                <div class="header_burger mobile-only">
                    <input class="burger-check" id="burger-check" type="checkbox"/>
                    <label for="burger-check" class="burger"></label>
                    <nav id="navigation1" class="navigation">
                        <ul>
                            <li><a href="https://allthewaytravel.traveltool.pt/">Loja Online</a></li>
                            <li><a href="/sobrenos">Sobre Nos</a></li>
                            <li><a href="/guias">Guias</a></li>
                            <li><a href="/contactos">Contactos</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- BODY -->
    <div class="mainPage1">
        <div id="aboutUs">
            <img class="img-responsive" th:src="${aboutUs}"/>
            <div class="aboutUs-icons">
                <div class="abouUs-clients">
                    <img class="card-img-top" th:src="${aboutUsClientes}" alt="Card image cap"/>
                    <span>Clientes Felizes</span>
                    <span class="aboutUs-data-values" id="numberClientes" th:text="${aboutUsData.clients}"/>
                </div>
                <div class="abouUs-voos">
                    <img class="card-img-top" th:src="${aboutUsVoos}" alt="Card image cap"/>
                    <span>Bilhetes de Avião</span>
                    <span class="aboutUs-data-values" id="numberVoos" th:text="${aboutUsData.voos}"/>
                </div>
                <div class="abouUs-viagens">
                    <img class="card-img-top" th:src="${aboutUsViagens}" alt="Card image cap"/>
                    <span>Noites de Hotel</span>
                    <span class="aboutUs-data-values" id="numberViagens" th:text="${aboutUsData.viagens}"/>
                </div>
                <div class="abouUs-cruzeiros">
                    <img class="card-img-top" th:src="${aboutUsCruzeiros}" alt="Card image cap"/>
                    <span>Cruzeiros</span>
                    <span class="aboutUs-data-values" id="numberCruzeiros" th:text="${aboutUsData.cruzeiros}"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 no-padding about-us-text">
                <div id="aboutUs-text">
                    <img class="img-responsive worldmap" th:src="${worldMapDivider}"/>
                    <hr id="l1"/>
                    <p id="p1" th:text="${aboutUsText1}"></p>
                    <p id="p2" th:text="${aboutUsText2}"></p>
                    <p id="p3" th:text="${aboutUsText3}"></p>
                    <p id="p4" th:text="${aboutUsText4}"></p>
                    <hr id="l2"/>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="row">
                <div class="sobre-nos-card">
                    <div class="col-sm-1"></div>
                    <div class="top-cards card col-xs-12 col-sm-3">
                        <img class="card-img-top" th:src="${serviceTravel}" alt="Card image cap"/>
                        <div class="card-body">
                            <h5 class="card-title">Viagens</h5>
                            <ul>
                                <li>Viagens de negócios</li>
                                <li>Viagens de grupos</li>
                                <li>Férias à medida, lazer</li>
                                <li>Programas temáticos</li>
                                <li>Fretamento de aviōes</li>
                                <li>Reserva e emissão de bilhetes</li>
                                <li>Aluguer de carros</li>
                                <li>Organização de visitas turísticas</li>
                            </ul>
                        </div>
                    </div>
                    <div class="top-cards card col-xs-12 col-sm-3">
                        <img class="card-img-top" th:src="${serviceDocuments}" alt="Card image cap"/>
                        <div class="card-body">
                            <h5 class="card-title">Documentos</h5>
                            <ul>
                                <li>Tratamento e obtenção de vistos para todos os destinos</li>
                                <li>Reservas e compra de bilhetes para qualquer espetáculo em qualquer parte do mundo
                                </li>
                                <li>Serviços de transferes e guias</li>
                                <li>Relatório para gestão de custos</li>
                                <li>Seguros</li>
                            </ul>
                        </div>
                    </div>
                    <div class="top-cards card col-xs-12 col-sm-3">
                        <img class="card-img-top" th:src="${serviceOther}" alt="Card image cap"/>
                        <div class="card-body">
                            <h5 class="card-title">Outros</h5>
                            <ul>
                                <li>Congressos, incentivos</li>
                                <li>Missōes Empresariais e Feiras</li>
                                <li>Organização de eventos</li>
                                <li>Inscriçōes em congressos, seminários ou convençōes</li>
                                <li>Assistência em aeroportos</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="bottom-cards">
                <div class="bot-card no-text">
                    <a href="/dados">
                        <div class="card-body no-text">
                            <img th:src="${serviceClientProtection}"/>
                            <h5 class="card-title">Regulamento Geral de Proteção de Dados</h5>
                        </div>
                    </a>
                </div>
                <div class="bot-card no-text">
                    <a href="/fichainformativa">
                        <div class="card-body no-text">
                            <img th:src="${servicesNormalizedForm}"/>
                            <h5 class="card-title">Ficha Informativa Normalizada</h5>
                        </div>
                    </a>
                </div>
                <div class="bot-card no-text">
                    <a href="https://www.livroreclamacoes.pt/inicio/reclamacao">
                        <div class="card-body no-text">
                            <img th:src="${serviceComplaintBook}"/>
                            <h5 class="card-title">Livro de Reclamações Eletrónico</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <div>
        <div class="row">
            <div class="col-md-6">
                <div class="cat-title">
                    <p>Contactos</p>
                </div>
                <div class="accordion" id="contact-porto">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#contact-porto"
                               href="#collapse0">
                                Porto
                            </a>
                        </div>
                        <div class="accordion-inner">
                            <div id="collapse0" class="accordion-body collapse">
                                <p>Rua Joāo de Barros, 293 Loja 43</p>
                                <p>T. +351 22 619 1330/37</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="contact-gaia">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#contact-lisboa"
                               href="#collapse1">
                                Vila Nova de Gaia
                            </a>
                        </div>
                        <div class="accordion-inner">
                            <div id="collapse1" class="accordion-body collapse">
                                <p>Rua Soares dos Reis, 506 Loja 16</p>
                                <p>T. +351 22 375 1284</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="contact-aveiro">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#contact-lisboa"
                               href="#collapse2">
                                Aveiro
                            </a>
                        </div>
                        <div class="accordion-inner">
                            <div id="collapse2" class="accordion-body collapse">
                                <p>Rua Dr. Mário Sacramento, 87 B, 3810-106</p>
                                <p>T. +351 23 438 4550/51</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="contact-mealhada">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#contact-lisboa"
                               href="#collapse3">
                                Mealhada
                            </a>
                        </div>
                        <div class="accordion-inner">
                            <div id="collapse3" class="accordion-body collapse">
                                <p>Centro Comercial Intermarché, Lj 6 Lugar das Pedrinhas 3050-434</p>
                                <p>T. +351 22 375 1284</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="contact-catanhede">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#contact-lisboa"
                               href="#collapse4">
                                Cantanhede
                            </a>
                        </div>
                        <div class="accordion-inner">
                            <div id="collapse4" class="accordion-body collapse">
                                <p> Freixial Shopping, Lj 14 Lugar do Freixial 3060-187</p>
                                <p>T. +351 22 375 1284</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="newsletter-title">
                    <p>Newsletter</p>
                </div>
                <form>
                    <div class="col-md-10 newsletter-input">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                               placeholder="Enter email"/>
                    </div>
                    <div class="col-md-2 newsletter-btn">
                        <button type="submit" class="btn btn-primary mb-2">Ok</button>
                    </div>
                </form>
                <div class="col-md-12">
                    <i class="far fa-envelope"></i>
                    <span>geral@allthewaytravel.pt</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="partner-logos" class="col-md-12">
                <img th:src="${parceriosLogos}"/>
            </div>
        </div>
    </div>
</div>

<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
<!-- Bootstrap JS CDN -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/parallax.js"></script>
<script type="text/javascript" src="js/aboutUs.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>

</body>
</html>