<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${guideDto.nome}"></title>

    <link rel="stylesheet" type="text/css" href="css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>

    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/specificTravelGuide.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
          integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous"/>
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '486384455187909');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=486384455187909&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>

<body>
<div class="container-fluid">
    <!-- HEADER -->
    <div class="row">
        <div class="header">
            <div class="col-md-3">
                <div class="logo">
                    <a href="/">
                        <img th:src="${awtLogo}"/>
                    </a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="header_buttons desktop-only">
                    <a class="loja-online" href="https://allthewaytravel.traveltool.pt/">Loja Online</a>
                    <a href="/sobrenos">Sobre Nos</a>
                    <a href="/guias">Guias</a>
                    <a href="/contactos">Contactos</a>
                    <a href="https://www.facebook.com/allthewaytravel/"><img th:src="${facebookLogo}"/></a>
                </div>
                <div class="header_burger mobile-only">
                    <input class="burger-check" id="burger-check" type="checkbox"/>
                    <label for="burger-check" class="burger"></label>
                    <nav id="navigation1" class="navigation">
                        <ul>
                            <li><a href="https://allthewaytravel.traveltool.pt/">Loja Online</a></li>
                            <li><a href="/sobrenos">Sobre Nós</a></li>
                            <li><a href="/guias">Guias</a></li>
                            <li><a href="/contactos">Contactos</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- BODY -->
    <div class="mainPage1">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="guideImage">
                    <img class="img-responsive mainImage" th:src="${guideDto.imagem}"/>
                    <span class="travelGuideSpecific-main-title" th:text="${guideDto.nome}"/>
                    <span class="travelGuideSpecific-main-message" th:text="${guideDto.descricao}"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="cat-title">
                <span>Informacoes Uteis</span>
                <hr/>
            </div>
            <div class="info-util">
                <div class="info-card">
                    <img class="info-img" th:src="${iconNote}"/>
                    <span class="info-title">Moeda</span>
                    <span class="info-data coin" th:text="${guideDto.moeda}"/>
                    <span class="info-data" th:text="'Símbolo: '+${guideDto.moedasimbolo}"/>
                </div>
                <div class="info-card">
                    <img class="info-img" th:src="${iconCloud}"/>
                    <span class="info-title">Tempo</span>
                    <div class="daily-weather">
                        <div th:each="weather: ${travelGuideLocationWeather}" class="weather-daily">
                            <img class="weather-img" th:src="'/images/'+${weather.weatherType}+'.png'"/>
                            <span class="weather-day" th:text="${weather.weekDayVal}"/>
                            <span class="weather-temp" th:text="${weather.temperature}+'º'"/>
                        </div>
                    </div>
                </div>
                <div class="info-card">
                    <img class="info-img" id="icon-time" th:src="${iconTime}"/>
                    <span class="info-title">Horas</span>
                    <span class="info-data" id="info-data-horas" th:text="${guideDto.horas}"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="cat-title">
                    <span>O que visitar</span>
                    <hr/>
                </div>
                <div id="featured_places">
                    <div class="card" th:each="locations: ${travelGuideLocations}">
                        <a class="grid-item-guide" data-toggle="modal"
                           th:attr="data-target='#modal'+${locations.nameID}">
                            <div class="grid-item-thumbnail-hold">
                                <img class="img-responsive" th:src="${locations.imagem}"/>
                                <span class="guide-city" th:text="${locations.nome}"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div th:each="locations: ${travelGuideLocations}">
                    <div class="modal" th:id="'modal'+${locations.nameID}" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <div class="col-md-8">
                                    <div class="modal-body">
                                        <h2 th:text="${locations.nome}"/>
                                        <p class="locations-descricao" th:text="${locations.descricao}"></p>
                                    </div>
                                </div>
                                <div class="col-md-4 no-padding">
                                    <div class="modal-img">
                                        <img class="img-responsive" th:src="${locations.imagem}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 no-padding">
                        <div class="cat-title">
                            <span>Roteiro</span>
                            <hr/>
                        </div>
                        <div class="col-md-12">
                            <div id="location-google-map"></div>
                            <input id="mapLocation" th:value="${guideDto.coordinates}" class="hidden"/>
                            <input id="mapLocationCoordinates" th:value="${travelGuideLocationsCoordinates}" class="hidden"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="cat-title center">
                            <span>Agende a sua viagem</span>
                            <hr id="cat-title-hr-center"/>
                            <a href="https://allthewaytravel.traveltool.pt/">
                                <button id="cat-title-btn" type="button" class="btn btn-primary">Loja Online
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <div>
        <div class="row">
            <div class="col-md-6">
                <div class="cat-title">
                    <p>Contactos</p>
                </div>
                <div class="accordion" id="contact-porto">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#contact-porto"
                               href="#collapse0">
                                Porto
                            </a>
                        </div>
                        <div class="accordion-inner">
                            <div id="collapse0" class="accordion-body collapse">
                                <p>Rua João de Barros, 293 Loja 43</p>
                                <p>T. +351 22 619 1330/37</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="contact-gaia">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#contact-lisboa"
                               href="#collapse1">
                                Vila Nova de Gaia
                            </a>
                        </div>
                        <div class="accordion-inner">
                            <div id="collapse1" class="accordion-body collapse">
                                <p>Rua Soares dos Reis, 506 Loja 16</p>
                                <p>T. +351 22 375 1284</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="contact-aveiro">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#contact-lisboa"
                               href="#collapse2">
                                Aveiro
                            </a>
                        </div>
                        <div class="accordion-inner">
                            <div id="collapse2" class="accordion-body collapse">
                                <p>Rua Dr. Mario Sacramento, 87 B, 3810-106</p>
                                <p>T. +351 23 438 4550/51</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="contact-mealhada">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#contact-lisboa"
                               href="#collapse3">
                                Mealhada
                            </a>
                        </div>
                        <div class="accordion-inner">
                            <div id="collapse3" class="accordion-body collapse">
                                <p>Centro Comercial Intermarché, Lj 6 Lugar das Pedrinhas 3050-434</p>
                                <p>T. +351 22 375 1284</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="contact-catanhede">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#contact-lisboa"
                               href="#collapse4">
                                Cantanhede
                            </a>
                        </div>
                        <div class="accordion-inner">
                            <div id="collapse4" class="accordion-body collapse">
                                <p> Freixial Shopping, Lj 14 Lugar do Freixial 3060-187</p>
                                <p>T. +351 22 375 1284</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="newsletter-title">
                    <p>Newsletter</p>
                </div>
                <form>
                    <div class="col-md-10 newsletter-input">
                        <input type="email" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp"
                               placeholder="Enter email"/>
                    </div>
                    <div class="col-md-2 newsletter-btn">
                        <button type="submit" class="btn btn-primary mb-2">Ok</button>
                    </div>
                </form>
                <div class="col-md-12">
                    <i class="far fa-envelope"></i>
                    <span>geral@allthewaytravel.pt</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="partner-logos" class="col-md-12">
                <img th:src="${parceriosLogos}"/>
            </div>
        </div>
    </div>
</div>

<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
<!-- Bootstrap JS CDN -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/custom.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<!-- Google Maps API -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjbyjSZmrhTdjf2iMEknck5fQF3kkhFps&amp;callback=myLocationMap"></script>

</body>
</html>