<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Guias</title>

    <link rel="stylesheet" type="text/css" href="css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato"/>

    <link rel="stylesheet"      href="/css/bootstrap.min.css"                                               type="text/css"/>
    <link rel="stylesheet"      href="/css/travelGuide.css"                                                    type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous"/>

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '486384455187909');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=486384455187909&ev=PageView&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
</head>

<body>
    <div class="container-fluid">
        <!-- HEADER -->
        <div class="row">
            <div class="header">
                <div class="col-md-3">
                    <div class="logo">
                        <a href="/">
                            <img th:src="${awtLogo}"/>
                        </a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="header_buttons desktop-only">
                        <a href="https://allthewaytravel.traveltool.pt/">Loja Online</a>
                        <a href="/sobrenos">Sobre Nos</a>
                        <a href="/guias">Guias</a>
                        <a href="/contactos">Contactos</a>
                        <a href="https://www.facebook.com/allthewaytravel/"><img th:src="${facebookLogo}"/></a>
                    </div>
                    <div class="header_burger mobile-only">
                        <input class="burger-check" id="burger-check" type="checkbox"/>
                        <label for="burger-check" class="burger"></label>
                        <nav id="navigation1" class="navigation">
                            <ul>
                                <li><a href="https://allthewaytravel.traveltool.pt/">Loja Online</a></li>
                                <li><a href="/sobrenos">Sobre Nós</a></li>
                                <li><a href="/guias">Guias</a></li>
                                <li><a href="/contactos">Contactos</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- BODY -->
        <div class="mainPage1">
            <div class="row">
                <div class="col-md-12 no-padding">
                    <div class="guideImage">
                        <img class="img-responsive" th:src="${travelguides}"/>
                        <span class="travelGuide-main-title">Guias de Viagem</span>
                        <span class="travelGuide-main-message" th:text="${travelguide_message}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 no-padding">
                    <div class="guideImage">
                        <img class="img-responsive worldmap" id="world-map" th:src="${travel_map}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <form th:action='@{/guides/region}' method="POST">
                    <div class="travelguides-container" id="filtered-regions">
                        <div class="travelguides-filter-btn">
                            <button type="button" th:each="region : ${travelOptions}" th:id="${region.region}" th:classappend="${region.selected} ? selected"
                                    class="region-button" th:text="${region.region}"></button>
                        </div>
                    </div>
                    <input name="filterVal" id="filter-values" th:value="${oldRegions}" class="hidden"/>
                    <div class="filter-button">
                        <button id="cat-title-btn" type="submit" class="btn btn-primary">Filtrar</button>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="promo-card-container">
                    <div class="promo-card no-padding" th:each="travelguide: ${travelguides_cards}" >
                        <a th:href="'guia?cidade='+${travelguide.city}" class="grid-item-guide">
                            <div class="guideImage">
                                <img class="img-responsive" th:src="${travelguide.imagem}"/>
                                <span class="travelGuide-country" th:text="${travelguide.country}"/>
                                <span class="travelGuide-city" th:text="${travelguide.city}"/>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- FOOTER -->
        <div>
            <div class="row">
                <div class="col-md-6">
                    <div class="cat-title">
                        <p>Contactos</p>
                    </div>
                    <div class="accordion" id="contact-porto">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#contact-porto" href="#collapse0">
                                    Porto
                                </a>
                            </div>
                            <div class="accordion-inner">
                                <div id="collapse0" class="accordion-body collapse">
                                    <p>Rua João de Barros, 293 Loja 43</p>
                                    <p>T. +351 22 619 1330/37</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion" id="contact-gaia">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#contact-lisboa" href="#collapse1">
                                    Vila Nova de Gaia
                                </a>
                            </div>
                            <div class="accordion-inner">
                                <div id="collapse1" class="accordion-body collapse">
                                    <p>Rua Soares dos Reis, 506 Loja 16</p>
                                    <p>T. +351 22 375 1284</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion" id="contact-aveiro">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#contact-lisboa" href="#collapse2">
                                    Aveiro
                                </a>
                            </div>
                            <div class="accordion-inner">
                                <div id="collapse2" class="accordion-body collapse">
                                    <p>Rua Dr. Mario Sacramento, 87 B, 3810-106</p>
                                    <p>T. +351 23 438 4550/51</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion" id="contact-mealhada">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#contact-lisboa" href="#collapse3">
                                    Mealhada
                                </a>
                            </div>
                            <div class="accordion-inner">
                                <div id="collapse3" class="accordion-body collapse">
                                    <p>Centro Comercial Intermarché, Lj 6 Lugar das Pedrinhas 3050-434</p>
                                    <p>T. +351 22 375 1284</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion" id="contact-catanhede">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#contact-lisboa" href="#collapse4">
                                    Cantanhede
                                </a>
                            </div>
                            <div class="accordion-inner">
                                <div id="collapse4" class="accordion-body collapse">
                                    <p> Freixial Shopping, Lj 14 Lugar do Freixial 3060-187</p>
                                    <p>T. +351 22 375 1284</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="newsletter-title">
                        <p>Newsletter</p>
                    </div>
                    <form th:action='@{guides/email}' method="POST">
                        <div class="col-md-10 newsletter-input">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"/>
                        </div>
                        <div class="col-md-2 newsletter-btn">
                            <button type="submit" class="btn btn-primary mb-2">Ok</button>
                        </div>
                    </form>
                    <div class="col-md-12">
                        <i class="far fa-envelope"></i>
                        <span>geral@allthewaytravel.pt</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="partner-logos" class="col-md-12">
                    <img th:src="${parceriosLogos}"/>
                </div>
            </div>
        </div>
    </div>

    <script>
        var guias = window.location.href.split("guias");
        if(guias[1] != ""){
            var specificguias = guias[1].split("=");
            if(specificguias[1] !=""){
                document.getElementById('filtered-regions').scrollIntoView();
            }
        }
    </script>
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"              type="text/javascript"></script>
    <!-- Bootstrap JS CDN -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"                 type="text/javascript"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>

</body>
</html>